body {
	background-image: url("photositeback.jpg");
	background-color: #cccccc;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
	

}
h1 {
	color: white;
	size: 1em;
	text-align: center;
}
h2 {
	color: white;
	size .3em;
	text-align: center;
}
.centered {
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
