body {
	background-image: url("photositeback.jpg");
	background-color: #cccccc;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
	

}
p {
	color: red;
}
